

:root{
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  background-color: var(--almost-white);
}

/*======Layout======*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-direction: column;
}


/*======Header======*/
header nav {
  padding: 15px;
}

#menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#btn_menu-open{
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
#backdrop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.669);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}
.open-dropdown{
  display: block !important;
}
#nav{
  z-index: 9999;
  width: 250px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  padding-bottom: 80px;
  background-color: #fff;
  display: none;
  transition: all 300ms ease-in-out;
  border-bottom-left-radius: 10px;

}
.menu_close{
  display: block !important;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
#btn_menu-close{
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 190px;
}
#features{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#company{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav ul li{
  margin: 20px 0px;
}
#nav a{
  color: var(--medium-gray);
}
#nav a:hover{
  color: var(--almost-black);
}
.dropdown{
  padding-left: 20px;
}

.dropdown ul li{
  margin: 20px 0;
}
.dropdown_features{
  display: none;
}
.dropdown_company{
  display: none;
}

.dropdown_close{
  display: block;
}

.arrowF{
  transition: all 300ms ease-in-out;
}
.arrowC{
  transition: all 300ms ease-in-out;
}

.arrow_features{
  transform: rotate(180deg);
  transition: all 300ms ease-in-out;
}
.arrow_company{
  transform: rotate(180deg);
  transition: all 300ms ease-in-out;
}

#authentication{
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
}
#authentication a{
  text-align: center;
  padding: 10px 35px;
}
#authentication a:last-child{
  border: 2px solid var(--almost-black);
  border-radius: 10px;
}



/*======Hero======*/
#imagem{
  display: flex;
  width: 100%;
  height: 230px;
  margin: 0 5px;
  background-image: url("./../img/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


#cta{
  height: auto;
  margin: 25px 5px;
  text-align: center;
}
#cta h1{
  font-size: 34px;
  margin-bottom: 25px;
}
#cta p{
  color: var(--medium-gray);
  margin-bottom: 30px;
  font-size: 18px;
}
#cta a{
  padding: 10px 35px;
  background-color: #000;
  margin-bottom: 30px;
  border-radius: 15px;
  color: #fff;
}

#brands{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#brands img {
  width: 60px;
}



/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) {
  header nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  #btn_menu-open{
    display: none;
  }
  #btn_menu-close{
    display: none;
  }
  #backdrop{
    display: none;
  }
  #menu{
    width: auto;
  }
  #nav{
    display: flex !important;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: static;
    background: transparent;
    padding: 0px;
    margin-left: 50px;
  }
  #nav ul{
    width: auto;
    padding: 0 25p;
    display: flex;
    align-items: flex-start;
  }
  #nav ul li{
    margin: 0px 10px;
  }
  .dropdown{
    padding: 15px;
    padding-left: 0px;
    background-color: #fff;
    border-radius: 10px;
  }
  .dropdown_features{
    position: absolute;
    top: 50px;
    left: 190px;
  }
  .dropdown_company{
    position: absolute;
    top: 50px;
    left: 350px;
  }

  .dropdown_close{
    display: flex;
    padding-right: 0px;
    margin-right: -40px;
  }
  .dropdown ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .dropdown ul li{
    margin: 15px !important;
  }
  #authentication{
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    align-self: baseline;
  }
  #authentication a:last-child{
    padding: 5px 15px;
  }

  #hero .container .row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  #imagem{
    height: 100%;
    order: 2;
    display: flex;
    background-image: url("./../img/image-hero-desktop.png");
  }
  #cta{
    margin-left: 150px;
    width: 70%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  #cta h1{
    font-size: 65px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 25px;
  }
  #cta p{
    text-align: left;
    margin-bottom: 0px;
  }
  #cta a{
    border: 2px solid #000;
  }
  #cta a:hover{
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
  }
  #brands{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }
  #brands img{
    width: 80px;
  }
}